﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
    <div id="myApp" ng-app="myApp" ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        <!--Full Name: {{firstName + " " + lastName}}-->
        Full Name: {{fullName()}}
    </div>

    <div id="myApp2" ng-app="myApp2" ng-controller="namesCtrl">
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
    </div>

 
    <script src="personController.js"></script>
    <script src="namesController.js"></script>
    <script>
        angular.element(document).ready(function () {
            angular.bootstrap(document.getElementById('myApp2'), ['myApp2']);
        })
    </script>
    <!--<script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.fullName = function () {
            return $scope.firstName + " " + $scope.lastName;
            };
        });
    </script>-->

</body>
</html>
