﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-init="firstName='John'">

        <p>Name: <input type="text" ng-model="firstName"></p>
        <p>You wrote: {{ firstName }}</p>

    </div>
    <div ng-init="quantity=1;price=5">
        Quantity: <input type="number" ng-model="quantity">
        Costs:    <input type="number" ng-model="price">
        Total in dollar: {{ quantity * price }}
    </div>
    <div ng-init="names=['Jani','Hege','Kai']">
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>
    <div ng-init="colors=['red','blue','green']" >
         <input ng-repeat="x in colors" type="text" style="background-color:{{x}}" />
    </div>
    <div ng-init="names=[
    {name:'Jani',country:'Norway'},
    {name:'Hege',country:'Sweden'},
    {name:'Kai',country:'Denmark'}]">
        <ul>
            <li ng-repeat="x	in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
    </div>


    <w3-test-directive></w3-test-directive>

    by div: <div w3-test-directive></div>

    by class: <div class="w3-test-directive"></div>

    by comment: <!-- directive: w3-test-directive -->


    <script>
        var app = angular.module("myApp", []);
        app.directive("w3TestDirective", function () {
            return {
                restrict: "MACE",
                replace: true,
                template: "<h1>Made by a directive!</h1>"
            };
        });
    </script>



</body>
</html>
