﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

    <!--<div ng-app="">
        <p>My first expression: {{ 5 + 5 }}</p>
    </div>-->

    <!--<div ng-app="" ng-init="myCol='lightblue'">

        <input style="background-color: {{myCol}}" ng-model="myCol" value="{{myCol}}">
    </div>-->


    <!--<div ng-app="" ng-init="quantity=1;cost=5">

        <p>Total in dollar: {{ quantity * cost }}</p>

    </div>-->

    <!--<div ng-app="" ng-init="quantity=1;cost=5">

        <p>Total in dollar: <span ng-bind="quantity * cost"></span></p>

    </div>-->


    <!--<div ng-app="" ng-init="firstName='John';lastName='Doe'">

        <p>The name is {{ firstName + " " + lastName }}</p>
        <p>The name is <span ng-bind="firstName + ' ' + lastName"></span></p>

    </div>-->

    <!--<div data-ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">

        <p>The name is {{ person.lastName }}</p>
        <p ng-bind="person.lastName"></p>

    </div>-->


    <div data-ng-app="" ng-init="points=[1,15,19,2,40]">
        <p>The third result is {{ points[2] }}</p>
        <p>The third result is <span ng-bind="points[2]"></span></p>
    </div>


</body>
</html>
