﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>


   <div ng-app="myApp" ng-controller="namesCtrl">

        <ul>
            <li ng-repeat="x in names | filter : 'i'">
                {{ x.name }}
            </li>
        </ul>


        <p><input type="text" ng-model="test"></p>

        <ul>
            <li ng-repeat="x in names | filter : test">
                {{ x.name }}
            </li>
        </ul>


        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names | orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>


       <ul>
           <li ng-repeat="x in newNames">
               {{x | myFilter}}
           </li>
       </ul>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('namesCtrl', function ($scope) {
            $scope.names = [
              { name: 'Jani', country: 'Norway' },
              { name: 'Carl', country: 'Sweden' },
              { name: 'Margareth', country: 'England' },
              { name: 'Hege', country: 'Norway' },
              { name: 'Joe', country: 'Denmark' },
              { name: 'Gustav', country: 'Sweden' },
              { name: 'Birgit', country: 'Denmark' },
              { name: 'Mary', country: 'England' },
              { name: 'Kai', country: 'Norway' }
            ];
            $scope.orderByMe = function (x) {
                $scope.myOrderBy = x;
            }
            $scope.newNames = ['Jani', 'Carl', 'Margareth', 'Hege', 'Joe', 'Gustav', 'Birgit', 'Mary', 'Kai'];
        });
        app.filter('myFilter', function () {
            return function (x) {
                var i, c, txt = "";
                x = x.split("")
                for (i = 0; i < x.length; i++) {
                    c = x[i];
                    if (i % 2 == 0) {
                        c = c.toUpperCase();
                    }
                    txt += c;
                }
                return txt;
            };
        });
    </script>

</body>
</html>
