﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p>The name is {{ lastName | uppercase }}</p>
        <p>The name is {{ lastName | lowercase }}</p>

        <h1>Price: {{ price | currency }}</h1>

    </div>



    <div id="myApp2" ng-app="myApp2" ng-controller="namesCtrl">

        <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>
    

    <script src="personController.js"></script>
    <script src="namesController.js"></script>
    <script>
        angular.element(document).ready(function () {
            angular.bootstrap(document.getElementById('myApp2'), ['myApp2']);
        })
    </script>
</body>
</html>
