﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <p>Today's welcome message is:</p>
        <h1>{{myWelcome}}</h1>
        <p>{{content}} , {{statuscode}}, {{statustext}}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("welcome.htm")
            .then(function (response) {
                $scope.myWelcome = response.data;
                $scope.content = response.data;
                $scope.statuscode = response.status;
                $scope.statustext = response.statustext;
            }, function(response) {
                $scope.content = "Something went wrong";
            });
        });
    </script>
</body>
</html>
