﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>angular example 1</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
   <!--<div data-ng-app="">
        <p>Name : <input type="text" data-ng-model="name"></p>
        <h1>Hello {{name}}</h1>
    </div>

    <div>
        <p>Name: <input type="text" data-ng-model="name"></p>
        <p data-ng-bind="name"></p>
    </div>

    <div data-ng-app="" data-ng-init="firstName='John'">
        <p>The name is <span data-ng-bind="firstName"></span></p>
    </div>

    <div data-ng-app="">
        <p>My first expression: {{ 5 + 5 }}</p>
    </div>


    <div data-ng-app="">
        <p>Name: <input type="text" ng-model="name"></p>
        <p>{{name}}</p>
    </div>-->

    <div ng-app="myApp" ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>


</body>
</html>
