﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: lightblue;
        }
    </style>
</head>
<body ng-app="myApp">

    <div ng-controller="myCtrl">
        Name: <input ng-model="name">
        <h1>You entered: {{name}}</h1>
    </div>

    <form name="myForm">
        Email:
        <input type="email" name="myAddress" ng-model="text">
        <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
    </form>


    <form name="myForm2" ng-init="myText = 'post@myweb.com'">
        Email:
        <input type="email" name="myAddress" ng-model="myText" required></p>
        <h1>Status</h1>
        {{myForm2.myAddress.$valid}}
        {{myForm2.myAddress.$dirty}}
        {{myForm2.myAddress.$touched}}
    </form>

    <form name="myForm3">
        Enter your name:
        <input name="myAddress" ng-model="newText" required>
    </form>


    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "John Doe";
        });
    </script>

</body>
</html>
