﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>


    <!--<div ng-app="myApp" ng-controller="myCtrl">
        {{ firstName + " " + lastName }}
    </div>-->

    <!--<div ng-app="myApp" w3-test-directive></div>-->

    <div ng-app="myApp" ng-controller="myCtrl">
        {{ firstName + " " + lastName }}
    </div>

    <script src="myApp.js"></script>
    <script src="myCtrl.js"></script>

    <script>

        //var app = angular.module("myApp", []);
        //app.controller("myCtrl", function ($scope) {
        //    $scope.firstName = "John";
        //    $scope.lastName = "Doe";
        //});

        app.directive("w3TestDirective", function () {
            return {
                template: "I was made in a directive constructor!"
            };
        });


    </script>

</body>
</html>
