﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp">

    <!--<div ng-app="myApp" ng-controller="myCtrl">
        <h1>{{carname}}</h1>
    </div>

    <div>
        <input ng-model="name">
        <h1>My name is {{name}}</h1>
    </div>

    <div>
        <ul>
            <li ng-repeat="x in names">{{x}}</li>
        </ul>
    </div>-->

    <p>The rootScope's favorite color:</p>
    <h1>{{color}}</h1>

    <div ng-controller="myCtrl">
        <p>The scope of the controller's favorite color:</p>
        <h1>{{color}}</h1>
    </div>

    <p>The rootScope's favorite color is still:</p>
    <h1>{{color}}</h1>


    <script>
        var app = angular.module('myApp', []);

        app.run(function ($rootScope) {
            $rootScope.color = 'blue';
        });
        app.controller('myCtrl', function ($scope) {
            $scope.carname = "Volvo";
            $scope.name = "John Dow";
            $scope.names = ["Emil", "Tobias", "Linus"];
            $scope.color = "red";
        });
    </script>

</body>

</html>
