﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <div>
        <select ng-model="selectedName" ng-options="x for x in names"></select>
    </div>

    <select>
        <option ng-repeat="x in names">{{x}}</option>
    </select>
    <br>
    <select ng-model="selectedCar">
        <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
    </select>
    <h1>You selected: {{selectedCar}}</h1>

    <br><br>
    <select ng-model="selectedCar2" ng-options="x.model for x in cars"></select>
    <h1>You selected: {{selectedCar2.model}}</h1>
    <p>It's color is: {{selectedCar2.color}}</p>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.names = ["Emil", "Tobias", "Linus"];
            $scope.cars = [
    { model: "Ford Mustang", color: "red" },
    { model: "Fiat 500", color: "white" },
    { model: "Volvo XC90", color: "black" }
            ];
        });
    </script>


</body>
</html>
