﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>


    <div ng-app="myApp" ng-controller="myCtrl">
        <p>The url of this page is:</p>
        <h3>{{myUrl}}</h3>

        <p>You are welcome!</p>
        <h1>{{myWelcome}}</h1>


        <h1>{{myHeader}}</h1>

        we are now <h1>{{theTime}}</h1>

        <h1>{{hex}}</h1>

       <p> Number 255 hexafied:</p>
        <h1>{{255 | hexFilter}}</h1>

        <p> More numbers hexafied:</p>
        <ul>
            <li ng-repeat="x in counts">{{x | hexFilter}}</li>
        </ul>
    </div>


    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $location, $http, $timeout, $interval, hexafy) {
            $scope.toHex = 255;
            $scope.myUrl = $location.absUrl();
            $http.get("welcome.htm").then(function (response) {
                $scope.myWelcome = response.data;
            });
            $scope.myHeader = "Message before change";
            $timeout(function () {
                $scope.myHeader = "Message after change";
            }, 5000);
            $scope.theTime = new Date().toLocaleTimeString();
            $interval(function () {
                $scope.theTime = new Date().toLocaleTimeString();
            }, 1000);
            $scope.hex = hexafy.myFunc(255);
            $scope.counts = [255, 251, 200];

        });

        app.service('hexafy', function () {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        });

        app.filter('hexFilter', ['hexafy', function (hexafy) {
            return function (x) {
                return hexafy.myFunc(x);
            };
        }]);
    </script>

</body>
</html>
